.container {
  padding: 16px;
}

.accountListItem {
 padding: 8px !important;
 margin: 8px;
 background-color: #f4f4f4;
 transition: .2s ease;
 cursor: pointer;
 user-select: none;
}

.accountListItem:hover {
  background-color: #eaeaea;
}